nav {
  header & {
    background-color: darken($white, 15%);
  }

  //   .branding {
  //     float: left;
  //     display: none;
  //     @include break(1000px) {
  //       display: block;
  //     }
  //   }
  .nav-flex {
    display: none;
    @include break(1200px) {
      display: flex;
      align-items: center;
    }
    @include break(760px, 1200px) {
      display: flex;
      align-items: center;
    }
    @include break(450px, 760px) {
      display: flex;
      flex-direction: column;
    }
    @include break(0, 450px) {
      display: flex;
      flex-direction: column;
    }
  }

  .branding {
    display: none;
    @include break(1200px) {
      display: flex;
      height: 25%;
      width: 25%;
    }
    @include break(0, 760px) {
      display: flex;
      height: 50%;
      width: 50%;
    }
  }

  .branding a {
    height: 75%;
    width: 75%;
  }

  .branding .logo {
    height: 75%;
    width: 75%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
    display: none;
    @include break(1200px) {
      display: flex;
      align-items: center;
    }
    @include break(760px, 1200px) {
      display: flex;
      align-items: center;
    }
    @include break(450px, 760px) {
      display: flex;
      flex-direction: column;
    }
    @include break(0, 450px) {
      display: flex;
      flex-direction: column;
    }
  }

  ul li {
    @include break(760px) {
      display: flex;
      flex-direction: column;
    }
    padding: 10px 5px;
  }

  ul li a {
    text-decoration: none;
    padding: 10px 5px;
    color: $darkblue;
    @include break(1200px) {
      font-size: 2rem;
    }
    @include break(760px, 1200px) {
      font-size: 1.6rem;
    }
    @include break(450px, 760px) {
      font-size: 1.2rem;
    }
    @include break(0, 450px) {
      font-size: 1rem;
    }

    &:hover {
      color: $yellow;
    }

    header &:hover {
      background-color: darken($blue, 20%);
    }

    footer & {
      color: $darkblue;
    }
  }
  footer & {
    margin-top: 20px;
    min-height: 200px;
    background-color: darken($white, 15%);

    @include break(0, 500px) {
      display: none;
    }
  }
}
