.settings-video {
  display: flex;
  flex-direction: column;
  align-items: center;

  .settings-description {
    h1 {
      @include break(1200px) {
        font-size: 4rem;
      }
      @include break(760px, 1200px) {
        font-size: 3rem;
      }
      @include break(450px, 760px) {
        font-size: 2rem;
      }
      @include break(0, 450px) {
        font-size: 1rem;
      }
    }
    h2 {
      @include break(1200px) {
        font-size: 2rem;
      }
      @include break(760px, 1200px) {
        font-size: 1.5rem;
      }
      @include break(450px, 760px) {
        font-size: 1rem;
      }
      @include break(0, 450px) {
        font-size: 0.5rem;
      }
    }
  }
}
